
.aside {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.aside__wrapper {
  background-image: url("../../img/catalog/background-green-cat.png");
  min-height: 289px;
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    min-height: 289px;
    width: 245px;
  }
}

.aside p {
  @include font-options(16px, 20px, center, none);
  @include padding(0, 61px, 0, 58px);
  @include margin-zero();
  font-family: $font-stack;
  color: $white;
}
