.catalog__title {
  @include font-options(36px, 36px, center, none);
  @include padding(27px, 42px, 41px, 20px);
  border-bottom: 1px solid $pale-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include title-large();
    @include padding(0, 30px, 85px, 30px);
    margin-bottom: 83px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    @include padding(0, 110px, 85px, 110px);
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 60px;
    row-gap: 140px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    @include padding(0, 110px, 0, 110px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 144px;
  }
}
