.form {
  font-style: normal;
  font-weight: normal;
  font-family: "oswald", "arial", sans-serif;
  text-transform: uppercase;
}

.form__major {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__field {
  min-height: 157px;
  padding: 0 20px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include padding-zero();
    @include margin(0, 0, 72px, 0);
  }

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.form__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 164px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 196px;
  }
}

.form__field--border {
  border-bottom: 1px solid $pale-grey-line;
  border-top: 1px solid $pale-grey-line;

  @media (min-width: $tablet-width) {
    border: 1px solid $pale-grey-line;
  }
}

.form__flex {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 104px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 124px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 100%;
    column-gap: 90px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .form__block {
    min-width: 47%;
  }
}

.form__field--flex {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__line-wrapper {
  position: relative;

  &::before {//                                               Зеленая линия, требует доработки!
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 2px;
    right: -20px;
    background-color: $basic-green;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 20px;
      width: 200%;
      right: -70px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      width: 100vw;
      right: -220px;
      left: 0;
      z-index: 1;
    }
  }
}

.form__title {
  @include font-options(26px, 26px, left, none);
  margin: 0;
  margin-bottom: 35px;
  padding-right: 20px;
  background-color: $white;
  position: relative;
  display: inline-block;
  vertical-align: baseline;

  @media (max-width: $mobile-width-only) {
    max-width: 217px;
  }

  @media (min-width: $tablet-width) {
    @include title-medium();
    padding-right: 40px;
    padding-left: 40px;
    transform: translateX(-40px);
  }
}

.form__block {
  display: flex;
  align-items: center;
}

.form__label {
  white-space: nowrap;
  margin-right: 13px;
  color: $dark;

  @media (min-width: $tablet-width) {
    @include paragraph-style();
  }
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  height: 45px;
  width: 100%;
  padding-left: 14px;
  color: $black;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $pale-grey-line;

  &::placeholder {
    color: $dark-grey;
  }

  /*&--border-color {
    border: 1px solid $light-grey;
  }
  */
  @media (min-width: $tablet-width) {
    @include paragraph-style();
    height: 52px;
  }
}

.form__input:hover {
  border-color: $light-grey;
}

.form__input:focus {
  outline: none;
  border-color: $dark-grey;
}

.form li {
  @include style-none();
}

.form__textarea {
  height: 150px;
  width: 100%;
  outline: none;
  padding: 6px 13px;
  border: 1px solid $pale-grey-line;
  resize: none;

  &:hover {
    border-color: $light-grey;
  }

  &:focus {
    outline: none;
    border-color: $dark-grey;
  }

  &::placeholder {
    @include font-options(16px, 18px, left, uppercase);
    padding: 0;
    color: $dark-grey;

    @media (min-width: $tablet-width) {
      @include paragraph-style();
    }
  }
}
/*
.form__item {
  margin: 20px 0;
}

.form__name {
  @media (min-width: $tablet-width) {
    @include paragraph-style();
  }
}
*/
.form__controls {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    @include padding-zero();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 72px;
    column-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.form__button {
  @include button();
  @include font-options(16px, 20px, center, uppercase);

  @media (min-width: $tablet-width) {
    @include paragraph-style();
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 4px;
  }
}

.form__remind {
  @include margin(21px, 0, 32px, 0);
  display: block;
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    @include padding(18px, 0, 18px, 6px);
    font-size: 16px;
    text-align: left;
    margin: 0;
  }
}

.form__products {
  padding-left: 0;
}
