.form {
  font-style: normal;
  font-weight: normal;
  font-family: "oswald", "arial", sans-serif;
  text-transform: uppercase;
}

.form__title {
  @include font-options(26px, 26px, left, none);
  padding: 0 20px;
  margin: 0;
}

.form__field--area {
  padding: 0 20px;
}

.form__block {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  padding: 0 20px;
}

.form__label {
  white-space: nowrap;
  margin-right: 13px;
}

.form__input {
  height: 46px;
  width: 100%;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid $pale-grey-line;
}

.form li {
  @include style-none();
}

.form__textarea {
  height: 150px;
  width: 100%;
}

.form__field--border {
  border-bottom: 1px solid $light-grey-line;
  border-top: 1px solid $light-grey-line;
  width: 100%;
}

.form__controls {
  padding: 0 20px;
}

.form__button {
  @include button();
  @include font-options(16px, 20px, center, uppercase);
}
