.map {
  background-color: $basic-grey;
}

.map__invitation {
  padding: 28px 19px;
  display: flex;
  justify-content: space-between;
}

.map__text {
  width: 50%;
}

.map__address {
  width: 50%;
}

.map__text b {
  @include font-options(16px, 18px, center, uppercase);
}

.map__address p {
  @include margin-zero();
  @include font-options(14px, 20px, left, none);
  font-family: "arial", sans-serif;
}
