.map {
  background-color: $basic-grey;
}

.map__invitation {
  padding: 28px 19px;
  display: flex;
  justify-content: space-between;
}

.map__text {
  width: 50%;
}

.map__address {
  width: 50%;
}

.map__text b {
  @include font-options(16px, 18px, center, uppercase);
}

.map__address p {
  @include margin-zero();
  @include font-options(14px, 20px, left, none);
  font-family: $font-stack;
}

@media (min-width: $tablet-width) {
  .map {
    background-color: inherit;
  }

  .map__invitation {
    margin: 0 71px;
  }

  .map__text {
    margin-right: 310px;
  }

  .map__address p {
    text-align: right;
  }

  .map__img {
    min-height: 400px;
    width: 100%;
  }
}
