.menu {
  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
  }
}

.menu__toggle {
  position: absolute;
  top: -64px;
  right: 0;
  padding: 0;
  border: none;
}

.menu__burger {
  @media (max-width: $mobile-width-only) {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $white;
    cursor: pointer;
    border: none;
  }

  /*&:hover,
  &:active {
    background-color: $white;
  }*/

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu--closed .menu__burger::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 17px;
  width: 24px;
  height: 1.5px;
  background-color: $black;
  box-shadow: 0 -8px 0 0 $black, 0 8px 0 0 $black;
  transition: all 0.3s ease 0s;//для плавности
}

.menu--active .menu__burger {
  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 18px;
    width: 26px;
    height: 1.5px;
    background-color: $black;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 18px;
    width: 26px;
    height: 1.5px;
    background-color: $black;
    transform: rotate(-45deg);
  }
}

.menu__list {
  @include margin-zero();
  @include padding-zero();
  display: flex;
  flex-direction: column;

  &--closed {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__item {
  @include padding(22px, 0, 23px, 0);
  @include font-options(20px, 20px, center, uppercase);
  @include style-none();
  font-weight: 500;
  background-color: $white;
  border-bottom: 1px solid $border;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    @include paragraph-style();

    &--color {
      background-color: $basic-green;
    }
  }
}

.menu__link {
  @include text-decoration-none();
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--alternative-color {
    pointer-events: none;

    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic-green;
      padding-bottom: 5px;
    }

    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $white;
      padding-bottom: 5px;
    }
  }
}

.menu__link--color {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.menu__link--active {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
    padding-bottom: 5px;
  }
}
