.menu {
  @media (min-width: $tablet-width) {
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
  }
}

.menu__list {
  @include margin-zero();
  @include padding-zero();
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__item {
  @include padding(22px, 0, 24px, 0);
  @include font-options(20px, 20px, center, uppercase);
  @include style-none();
  font-weight: 500;
  background-color: $white;
  border-bottom: 1px solid $border;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    @include paragraph-style();
  }
}

.menu__link {
  @include text-decoration-none();
  color: $black;
}
/*
.menu__item {
    @include font-options(18px, 24px, center, uppercase);
    border-bottom: none;
    margin-right: 4px;

  @media (min-width: $desktop-width) {
    .menu__item {
      font-size: 20px;
      line-height: 30px;
      margin-right: 37px;
  }
}
*/
