.page__body {
  min-width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;/*
  outline: 2px solid rgba(0, 255, 221, 0.8);
  outline-offset: -2px;*/

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.page__body--color {//    Пока сделал так.. потом посмотрим как переделать с картинкой кота
  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      min-width: 720px;
      height: 694px;
      top: 0;
      right: 0;
      background-color: $basic-green;
      z-index: -1;
      opacity: 0.85;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      background-position: right top;
      background-image: url("../img/index-background-desktop.jpeg");
      width: 720px;
      height: 694px;
      background-repeat: no-repeat;
      z-index: -200;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpeg");
        background-size: 720px 694px;
      }
    }
  }
}

.page__body a {
  @include text-decoration-none();
}
