
@media (min-width: 320px) {
  .page__body {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    outline: 2px solid rgba(0, 255, 221, 0.8);
    outline-offset: -2px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body a {
  @include text-decoration-none();
}
