.products {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.form__controls {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.products__item {
  margin-bottom: 13px;
}

.products__label {
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    @include paragraph-style();
  }
}
