.welcome {
  display: block;
  background-image: url("../../img/index/index-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.welcome__title {
  @include font-options(36px, 36px, center, none);
  @include margin-zero();
  @include margin(0, 0, 25px, 0);
  color: $white;

  @media (min-width: $tablet-width) {
    @include margin(0, 207px, 41px, 87px);
    color: $black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    order: 1;
  }
}

.welcome__slogan {
  @include font-options(14px, 14px, center, uppercase);
  @include margin-zero();
  @include margin(0, 0, 29px, 0);
  color: $white;

  @media (min-width: $tablet-width) {
    @include margin(0, 207px, 49px, 87px);
    text-align: left;
    color: $black;
    font-size: 20px;
    line-height: 20px;
    order: 2;
  }
}

.welcome__container {
  @include padding(27px, 20px, 0, 20px);
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    padding: 0 30px;
  }
}

.welcome__link {
  @include font-options(14px, 18px, center, uppercase);
  @include button();

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
  }
}

.welcome__image {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.welcome__img {
  @media (min-width: $tablet-width) {
    min-width: 700px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
  }
}

.welcome__button {
  @media (min-width: $tablet-width) {
    margin-left: 83px;
    width: 246px;
    order: 3;
  }
}
/*
@media (min-width: $tablet-width) {
  .welcome {
    background-image: none;
  }

  .welcome__container {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    padding: 0 30px;
  }

  .welcome__title {
    @include margin(0, 207px, 41px, 87px);
    color: $black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    order: 1;
  }

  .welcome__slogan {
    @include margin(0, 207px, 49px, 87px);
    text-align: left;
    color: $black;
    font-size: 20px;
    line-height: 20px;
    order: 2;
  }

  .welcome__link {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
  }

  .welcome__image {
    order: 4;
  }

  .welcome__img {
    min-width: 700px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
  }

  .welcome__button {
    margin-left: 83px;
    width: 246px;
    order: 3;
  }
}
*/
