.works {
  @include margin(0, 20px, 0, 20px);

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.works__title {
  @include font-options(36px, 40px, left, none);
  @include margin(27px, 0, 38px, 0);

  @media (min-width: $tablet-width) {
    @include margin(45px, 0, 32px, 0);
    @include title-large();
  }
}

.works__img {
  @media (max-width: $mobile-width-only) {
    margin-right: 20px;
  }
}

.works__paragraph {
  @include font-options(14px, 18px, left, none);
  @include margin-zero();
  font-family: $font-stack;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.works__item {
  @include style-none();

  @media (max-width: $mobile-width-only) {
    display: flex;
    margin-bottom: 20px;
  }
}

.works__list {
  @include padding-zero();
  @include margin-zero();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 152px;
    margin-right: 79px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 0;
  }
}
