.header {
  background-color: $white;
  width: 320px;
  height: 72px;
}

.logo {
  @include padding(12px, 23px, 16px, 20px);
  border-bottom: 1px solid $border;
}

.menu__header {
  @include margin-zero();
  @include padding-zero();
  display: flex;
  flex-direction: column;
}

.menu__item {
  @include padding(22px, 0, 24px, 0);
  @include font-options(500, normal, 20px, 20px, center, uppercase);
  @include style-none();
    .menu__link {
      color: $black;
      @include text-decoration-none();
    }
  background-color: $white;
  width: 320px;
  height: 66px;
  border-bottom: 1px solid $border;
}
