//@include font-options($size, $height, $align, $trans);
@mixin font-options($size, $height, $align, $trans) {
  font-family: "oswald", "arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: $size;
  line-height: $height;
  text-align: $align;
  text-transform: $trans;
}

//Padding mixin
//@include padding(0px, 0px, 0px, 0px);
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

//Margin mixin
//@include margin(0px, 0px, 0px, 0px);
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

//@include margin-zero();
@mixin margin-zero() {
  margin: 0;
}

//@include padding-zero();
@mixin padding-zero() {
  padding: 0;
}

//@include style-none();
@mixin style-none() {
  list-style: none;
}

//@include text-decoration-none();
@mixin text-decoration-none() {
  text-decoration: none;
}

//@include button();
@mixin button() {
  @include style-none();
  display: block;
  width: 100%;
  padding: 11px 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: $white;
  background-color: $basic-green;
}

//@include title-large();
@mixin title-large() {
  font-size: 60px;
  line-height: 60px;
  text-align: left;
}

//@include paragraph-style();
@mixin paragraph-style() {
  font-size: 20px;
  line-height: 30px;
}

//@include title-medium();
@mixin title-medium() {
  font-size: 36px;
  line-height: 36px;
}
