$white: #ffffff;
$basic-grey: #f2f2f2;
$pale-grey: #ebebeb;
$light-grey: #cdcdcd;
$light-grey-darken: #c4c4c4;
$light-grey-line: #d9d9d9;
$mercury: #e5e5e5;
$border: #e6e6e6;
$dark-grey-lighter: #666666;
$dark-grey: #444444;
$black: #000000;
$dark: #222222;
$status-error: #ff8282;
$basic-green:#68b738;
$basic-green-darken:#5eaa2f;
/*Тени*/
$shadow-normal: rgba(0, 0, 0, 0.16);
$shadow-hover: rgba(0, 0, 0, 0.19);
$shadow-pressed: rgba(0, 0, 0, 0.2);
